<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Monitor.Properties.Settings>
            <setting name="DatabaseFilename" serializeAs="String">
                <value>E:\\ResMgr\\amdex\\resmanager.mdb</value>
            </setting>
        </Monitor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Monitor.Properties.Settings>
            <setting name="DatabaseProvider" serializeAs="String">
                <value>Microsoft.ACE.OLEDB.12.0</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>AERLINGUS</value>
            </setting>
        </Monitor.Properties.Settings>
    </applicationSettings>
</configuration>